:root{
    --primary-color:#4C1D95;
    --secondary-color:rgb(208,205,225);
}

*{
    margin: 0;
    padding: 0;
}


nav {
    background-color:var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
}

.navBrand a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size:larger;
}

nav ul li {
    /* list-style: none; */
    display: inline; 
    
}

nav ul li a{
   text-decoration: none;
   color: white;
   padding:20px;
}

nav ul li a:hover{
    background-color: black;
}

header{
    padding: 10px;
}

header img{
    max-width: 40%;
    padding: 20px;
    display: block;
    margin: auto;
}

header h1{
    padding: 10px;
    text-align: center;
}

header span{
    color:var(--primary-color);
}

section{
    max-width: 50%;
    display: block;
    margin: auto;
    font-family: cursive;
    font-size: 1.2rem;
}

p {
    padding: 20px 0;
}

footer{
    padding: 1rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footerHeader{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

footer .footerUl{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footerUl li {
    display: inline; 
    padding: 20px;
    
}

.fab.fa-instagram{
    color: var(--secondary-color);
    font-weight: 400;
}

.fab {
    font-size: 20px;
    color: var(--secondary-color);
}

.footerUl li:hover i{
    color: white;
    text-shadow: 2px 2px 4px black;
}

